* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #d4d4d4;
  padding: 4px 4px;
  border-radius: 8px;
  cursor: pointer;
}

.span {
  margin: 0px;
  background-color: #f4f4f4;
  color: #a2a2a2;
  font-family: Inter;
  font-size: 16px;
  font-weight: 200;
  line-height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  transition: font-weight 0.1s ease-out, transform 0.1s ease-out,
    margin-left 0.1s ease-out, margin-right 0.1s ease-out;
}


img {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}